# Assignment - Day Job Automate

In [1]:
# Importing libraries
import pandas as pd
import numpy as np
from pathlib import Path

In [18]:
# Reading the CSV file
fn = pd.read_csv('budget_data.csv')
fn.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [21]:
f = open('results.txt', 'a')

In [22]:
#Calculate numbers of months

Numbers_of_Months = fn['Date'].count()
Numbers_of_Months

86

In [33]:
#Calculate Revenue

Revenue = list(fn['Profit/Losses'])
Date_of_Profit = fn['Date']
Date_of_Profit

0     Jan-2010
1     Feb-2010
2     Mar-2010
3     Apr-2010
4     May-2010
        ...
81    Oct-2016
82    Nov-2016
83    Dec-2016
84    Jan-2017
85    Feb-2017
Name: Date, Length: 86, dtype: object

In [34]:
#Calculate Total Profit 
Profit_change = []
Total_Profit = sum(fn['Profit/Losses'])
Total_Profit

38382578

In [36]:
# Define Variables and Pseudo code
#f.write("Financial Analysis\n----------------------------------\n")
#f.write("Your profit is: " + "$" + str(Total_Profit) + "\n")
#f.write("Total Months: " + str(Numbers_of_Months) + "\n")
#f.write("Average  Change: " + "$" + str(Average_Change) + "\n")
#f.write("Greatest Increase in Profits: " + max_profit_month + " $" + str(Max_Profit_Change) + "\n")
#f.write("Greatest Decrease in Profits: " + min_profit_month + " $" + str(Min_Profit_Change) + "\n")
for x in range(len(fn)-1):
    Profit_1 = Revenue[x]
    Profit_2 = Revenue[x+1]
    Profit_change.append(Profit_2-Profit_1)
    Min_Profit_Change = min(Profit_change)
    Max_Profit_Change = max(Profit_change)
    Average_Change = round(np.mean(Profit_change),2)
    max_profit_month = Date_of_Profit[Profit_change.index(max(Profit_change))]
    min_profit_month = Date_of_Profit[Profit_change.index(min(Profit_change))]

print("Financial Analysis\n----------------------------------\n")
print("Your profit is: " + "$" + str(Total_Profit) + "\n")
print("Total Months: " + str(Numbers_of_Months) + "\n")
print("Average  Change: " + "$" + str(Average_Change) + "\n")
print("Greatest Increase in Profits: " + max_profit_month + " $" + str(Max_Profit_Change) + "\n")
print("Greatest Decrease in Profits: " + min_profit_month + " $" + str(Min_Profit_Change) + "\n")

Financial Analysis
----------------------------------

Your profit is: $38382578

Total Months: 86

Average  Change: $-2315.12

Greatest Increase in Profits: Jan-2012 $1926159

Greatest Decrease in Profits: Aug-2013 $-2196167